/* 清除浮动 */
.clearFix::after {
  content: '';
  display: block;
  clear: both;
}

/* loding */
.loding-box {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background: #ccc;
}
.loding-box.active {
  display: flex;
}

.loding {
  width: 200px;
  height: 200px;
  position: relative;
}
.loding::before,
.loding::after {
  content: '';
  width: 0px;
  height: 0px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  animation: loding 1.5s linear infinite;
}
.loding::after {
  animation: loding 0.75s linear infinite;
}

@keyframes loding {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

/* 主体用于继承 */
body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: 'Arial Black';
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}

/* 顶部导航条 */
.topNavBar {
  width: 100%;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  color: #b7b7b7;
  transition: all 0.5s;
}
.sticky {
  background: white;
  padding: 10px 0;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #3d4451;
}
.topNavBar .topNavBarContent {
  padding: 0 16px;
}

/* logo */
.topNavBar .logo {
  display: block;
  float: left;
  font-size: 24px;
  margin: 3px 0 4px;
  font-family: 'Arial Black';
}
.topNavBar .logo > .rs {
  color: #e6686a;
}
.topNavBar .logo > .card {
  margin-left: 4px;
  color: #9a9da2;
}

/* nav */
.topNavBar ul {
  float: right;
  margin: 0;
  padding: 0;
  margin-top: 7px;
}
.topNavBar ul > li {
  float: left;
  list-style: none;
  margin: 0 17px;
  position: relative;
}
.topNavBar li.active > .submenu {
  display: block;
  animation: submenuSlide 0.3s;
}
@keyframes submenuSlide {
  0% {
    margin-right: 100%;
  }
  100% {
    margin-right: 0%;
  }
}
.topNavBar ul > li .submenu {
  display: none;
  position: absolute;
  top: 80%;
  right: 0;
  background: white;
  color: #3d4451;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.topNavBar ul > li .submenu li {
  white-space: nowrap;
  padding: 5px 10px;
}
.topNavBar ul > li > a {
  display: block;
  padding: 5px 0;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
}
.topNavBar ul > li > a:hover {
  border-bottom: 3px solid #e06576;
}

/* banner */
.banner {
  height: 520px;
  background: url('../image/Code02.png');
  background-size: cover;
  background-position: center center;
}

.banner .mask {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* main */
main {
  margin-top: -340px;
}
main .userInfo {
  max-width: 940px;
  background-color: #fff;
  margin: 0 auto;
}

main .userInfo .pictureAndText {
  padding: 50px;
}
main .userInfo .pictureAndText .picture {
  float: left;
}
main .userInfo .pictureAndText .picture img {
  width: 300px;
  height: 350px;
}

main .userInfo .pictureAndText .text {
  width: 470px;
  margin-left: 65px;
  float: left;
}
.pictureAndText .text .hi {
  padding: 4px 16px;
  color: #fff;
  background-color: #e6686a;
  display: inline-block;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}
.pictureAndText .text .hi::after {
  content: '';
  display: inline-block;
  width: 0;
  border: 10px solid transparent;
  border-left-color: #e6686a;
  border-top-width: 0px;
  position: absolute;
  top: 100%;
  left: 4px;
}
.pictureAndText .text h1 {
  margin-top: 18px;
}
.pictureAndText .text hr {
  height: 0;
  border: none;
  border-bottom: 1px solid #ededed;
  margin: 20px 0;
}
.pictureAndText .text dt,
.pictureAndText .text dd {
  float: left;
  padding: 5px 0;
}

.pictureAndText .text dt {
  width: 30%;
  font-weight: bold;
}
.pictureAndText .text dd {
  width: 70%;
  color: #9da0a7;
}

.userInfo .media {
  text-align: center;
  background-color: #e6686a;
}

.userInfo .media a {
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  border-radius: 50%;
  margin: 16px;
}
.userInfo .media a:hover {
  background-color: #cf5d5f;
}
.userInfo .media a svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}
main > .downloadResume-wrapper {
  text-align: center;
}
main > .downloadResume-wrapper > a {
  font-size: 14px;
  line-height: 16px;
  padding: 21px 55px;
  border: 1px solid #cdcfd1;
  background: #efefef;
  display: inline-block;
  border-radius: 2px;
  color: #3d4451;
  font-weight: bold;
  margin: 32px 0;
  transition: box-shadow 0.2s;
}
main > .downloadResume-wrapper > a:hover {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

main .selfIntroduction {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: kai;
  line-height: 1.8;
  font-size: 18px;
}

.skill,
.portfolio {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.skill h2,
.portfolio h2 {
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}

.skill ol {
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 42px 50px 10px;
  margin-top: 30px;
}

.skill ol li {
  float: left;
  width: 48%;
  box-sizing: border-box;
}
.skill ol li:nth-child(even) {
  float: right;
}
.skill ol li h3 {
  font-size: 14px;
  line-height: 1.1;
  padding-right: 40px;
}
.skill ol li .progressBar {
  height: 5px;
  background: #fae1e1;
  border-radius: 2px;
  margin: 4px 0 40px;
}
.skill ol li .progressBar > .progress {
  height: 100%;
  background: #e6686a;
  width: 70%;
  border-radius: 2px;
}

.portfolio {
  text-align: center;
  margin-bottom: 100px;
}
.portfolio nav {
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
}

.portfolio nav ol {
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}
.portfolio nav ol li {
  float: left;
  margin-left: 40px;
  cursor: pointer;
}
.portfolio nav ol li:first-child {
  margin-left: 0;
}

.portfolio .bar {
  height: 5px;
  background: white;
  margin-top: 5px;
  margin-bottom: 28px;
  border-radius: 2px;
}
.portfolio .bar-inner {
  height: 100%;
  background: #e6686a;
  border-radius: 2px;
  transition: all 0.3s;
}

.portfolio .bar .bar-inner {
  margin-left: 0;
  width: 50px;
}

.portfolio nav .bar.state-1 .bar-inner {
  margin-left: 0;
  width: 25px;
}

.portfolio nav .bar.state-2 .bar-inner {
  margin-left: 70px;
  width: 30px;
}

.portfolio nav .bar.state-3 .bar-inner {
  margin-left: 145px;
  width: 30px;
}

.works {
  height: 597px;
  position: relative;
}
.works > div {
  transition: box-shadow 0.2s;
}
.works > div:hover {
  box-shadow: 0px 6px 8px 6px rgba(0, 0, 0, 0.3);
}
.big {
  position: absolute;
  left: 0;
  top: 0;
}
.small {
  position: absolute;
  right: 0;
}
